<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Wszystkie zamówienia</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
        <% if user_signed_in? and current_user.is_admin %>
          <%= link_to("Panel administratora", {:controller => 'user', :action => 'index'}, :class=>"btn btn-raised btn-default")%><br>
	<% if user_signed_in?%>
            <%= link_to("Nowe zamówienie", {:controller => 'orders', :action => 'new'}, :class=>"btn btn-raised btn-success")%>
            <p>Ilość: <%= @orders.size %></p>
            <table class="table table-striped table-hover" style="margin-top: 20px;">
              <tr class="success" style="color: black;">
                <th>ID</th>
                <th>Numer</th>
                <th>Status</th>
                <th>Utworzono</th>
                <th>Aktualizowano</th>
                <% if current_user.is_admin %>
                  <th style="text-align: center;">Akcje</th>
                <% end %>
              </tr>
              <% @orders.each do |order|%>
                <tr>
                  <th><%= order.id %></th>
                  <th><%= order.order_number %></th>
                  <th><%= order.status %></th>
                  <th><%= order.created_at.strftime("%m/%d/%y %H:%M") %></th>
                  <th><%= order.updated_at.strftime("%m/%d/%y %H:%M") %></th>
		  <% if current_user.is_admin %>
                    <th style="text-align: right;">
                      <%= link_to("Pokaż", {:action => 'show', :id => order.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Edycja", {:action => 'edit', :id => order.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Usuń", {:action => 'destroy', :id => order.id }, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                    </th>
		  <% end %>
                </tr>
              <% end %>
            </table>
	<% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
