<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Dyspozytornie</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
              <%= link_to("Nowa dyspozytornia", {:controller => 'dispatchers_office', :action => 'new'}, :class=>"btn btn-raised btn-success")%>
              <p>
                Ilość: <%= @dispatchers.size %>
              </p>
              <table class="table table-striped table-hover" style="margin-top: 20px; ">
                <tr class="success" style="color: black;">
                  <th>ID</th>
                  <th>Nazwa</th>
                  <th>Adres</th>
                  <th>Utworzono</th>
                  <th>Aktualizowano</th>
                  <th style="text-align: center;">Akcje</th>
                </tr>
                <% @dispatchers.each do |dispatcher|%>
                  <tr>
                    <th><%= dispatcher.id %></th>
                    <th><%= dispatcher.name %></th>
                    <% if dispatcher.local_number.present? %>
                      <th><%= dispatcher.city %>, <%= dispatcher.street %><br>
                         <%= dispatcher.house_number%>/<%=dispatcher.local_number%> <%= dispatcher.postcode %></th>
                    <% else %>
                      <th><%= dispatcher.city %>, <%= dispatcher.street %><br>
                       <%= dispatcher.house_number%> <%= dispatcher.postcode %></th>
                    <% end %>
                    <th><%= dispatcher.created_at.strftime("%m/%d/%y %H:%M") %></th>
                    <th><%= dispatcher.updated_at.strftime("%m/%d/%y %H:%M") %></th>
                    <th style="text-align: right;">
                      <%= link_to("Pokaż", {:action => 'show', :id => dispatcher.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Edycja", {:action => 'edit', :id => dispatcher.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Usuń", {:action => 'destroy', :id => dispatcher.id }, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                    </th>
                  </tr>
                <% end %>
              </table>
      </div>
    </div>
  </div>
</div>
