/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'bootstrap'

 *= require 'bootstrap-material-design'
 *= require 'ripples'
 *= require_tree .
 */
body {
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    // background: rgb(242,242,242);

    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lato', sans-serif;
        // font-family: 'Roboto', sans-serif;
    }
    a:focus {
        border: none;
        outline: none;
        text-decoration: none;
    }
}
.upper {
  text-transform: uppercase;
}
.center-text {
  text-align: center;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.v-align {
  vertical-align: middle;
}
.v-align-transform {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.clear {
  clear: both;
}
.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.dark-overlay {
  content: "";
  z-index: 0;
  background: rgba(30, 30, 30, 0.5) repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-display {
  display: flex;
  display: -ms-flexbox;
}
.flex-justify {
  justify-content: space-beetwen;
  -md-flex-pack: justify;
}
.flex-align {
  align-items: center;
  -ms-flex-align: center;
}
.no-padding {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.no-padding .row {
  margin: 0;
}
.info-icon {
  padding: 0 30px;
  margin-top: 30px;
}
.info-icon .info-icon-icons {
  font-size: 45px;
  padding: 10px;
}
.info-icon .info-icon-first {
  margin: 0 0 7px 0;
  font-size: 20px;
  line-height: 20px;
}
.info-icon .info-icon-second {
  margin: 0 0 15px 0;
  font-size: 15px;
  line-height: 22px;
  color: #666666;
}
html {
  color: #333333;
  font-weight: 300;
}
html,
body,
.main-container {
  width: 100%;
  height: 100%;
}
p {
  margin: 0;
}
h3 {
  margin: 25px 0 30px 0;
  line-height: 40px;
}
h6 {
  padding: 50px 0 0 0;
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 12px;
}
.alt-bg {
  background: #fafafa;
}
.alt-bg2 {
  background: #f5f5f5;
}
.alt-fam-font {
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.wrapper-login {
    background-image: url(http://wallpapercave.com/wp/0dWI3hG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 100%;
    padding: 50px 0 50px;
    overflow: scroll;
}
.top-sidebar {
  height: 60px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.top-sidebar .pull-left .logo-img {
  margin: 9px 5px;
}
.top-sidebar .pull-right .login-name {
  margin: 0 10px 0 0;
}
.top-sidebar .pull-right .login-name p {
  color: white;
  font-size: 26px;
  line-height: 60px;
}
.sidebar {
  position: fixed;
  width: 65px;
  left: 0;
  top: 60px;
  bottom: 0;
  height: 100%;
  float: none;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: 100;
  padding-top: 5px;
}
.sidebar a {
  color: white;
}
.sidebar a:hover {
  color: white;
  text-decoration: none;
}
.sidebar .sidebar-open {
  height: 60px;
}
.sidebar .sidebar-open i {
  float: left;
  margin: 14px 16px;
  padding: 7px;
}
.sidebar .sidebar-open p {
  float: left;
  line-height: 60px;
}
.sidebar .sidebar-open:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.sidebar .sidebar-hide {
  height: 60px;
}
.sidebar .sidebar-hide i {
  text-align: center;
  margin: 15px 15px;
  width: 35px;
  height: 35px;
  border: 2px solid white;
  line-height: 32px;
}
.sidebar .sidebar-hide i:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.sidebar .sidebar-hide p {
  display: none;
}

.content-main {
  transition: all 0.1s ease;

}
.content-main .options {
  background: rgba(255,255,255,0.8);
  color: #000000;
  text-align: center;
  border-radius: 10px;
}
.content-main .options ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}
.content-main .options ul li {
  text-align: center;
  margin: 0;
  display: block;
  padding: 5px;


  margin-bottom: 5px;
}
.content-main .options ul li .inner {
  margin: 5px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
}
.content-main .options ul li i {
  display: block;
  font-size: 30px;
  line-height: 60px;
}
.content-main .options ul li a {
  color: #000000;
  display: block;
  font-size: 14px;
  line-height: 30px;
}
.content-main .options ul li a:hover {
  text-decoration: none;
}
.content-main .options ul li:hover {
  color: #e6e6e6;
}
.content-main .options ul li:hover a {
  color: #e6e6e6;
}
.content-main .options ul li:hover .inner {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}
.content-main .editinfo {
  padding: 20px 0;
}
.content-main .editinfo input {
  width: 42%;
  text-align: center;
}
.content-main .newpack {
  padding: 20px 0;
}
.content-main .newpack table {
  margin: 0 auto;
}
.content-main .newpack tr {
  padding-bottom: 3px;
}
.content-main .newpack th {
  padding-right: 5px;
}
.panel-outer {
  padding-bottom: 50px;
}
.panel-outer a {
  color: black;
}
.panel {
  padding: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #9b9b9b;
  border-top: 2px solid #28c8be;
}
.panel input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 50px;
  padding: 0 10px;
}
.panel input[type=checkbox] {
  float: left;
  width: 20px;
  height: 14px;
  margin-right: 5px;
  line-height: 20px;
  margin-top: 5px;
}
.panel input[type=submit] {
  height: 70px;
  background: #28c8be;
  border: 2px solid #3cd2c8;
  color: white;
  margin: 0;
  margin-top: 30px;
}
.panel label {
  color: #f0f0f0;
  float: left;
}
.direct-logout a {
  color: white;
}
.select-birth-date {
  float: left;
  margin: 3px 0px 0 5px;
}
