.sidebar-close {
    margin-right: -400px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-open {
    margin-right: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar {
    position: fixed;
    z-index: 110;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background: rgba(20,20,20,0.95);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.7);

    .sidebar-header {
        padding: 0;
        height: 50px;
        background: rgb(20,20,20);

        h5 {
            display: block;
            color: rgb(240,240,240);
            font-size: 24px;
            margin: 0;
            padding: 0;
            line-height: 50px;
        }
        i {
            font-size: 24px;
            color: rgb(140,140,140);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin-right: 20px;
            line-height: 50px;

        }
        i:hover {
            cursor: pointer;
            color: rgb(255,255,255);
        }
    }
    .sidebar-menu {
        ul {
            position: fixed;
            min-height:100%;
            overflow: scroll;
            height: 100%;
            margin-top: 10px;
            width: 400px;

            a:first-child {
                border-top: 1px solid rgba(20,20,20,0.90);
            }
            a {
                text-transform: uppercase;
                display: block;
                color: rgb(170,170,170);
                width: 100%;
                height: 70px;
                border-bottom: 1px solid rgba(20,20,20,0.90);
            }
            a:hover {
                text-decoration: none;
                color: rgb(255,255,255);
            }
            li {
                height: 70px;
                cursor: pointer;
                text-align: center;
                font-size: 18px;
                line-height: 70px;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all 0.1s ease;

                i {
                    z-index: 2;
                    color: rgb(250,250,250);
                    position: absolute;
                    font-size: 24px;
                    line-height: 70px;
                    left: 0;
                    margin-left: 20px;
                }
                a:hover {
                  cursor: pointer;
                }
            }
            li:hover {
                background: rgba(20,20,20,0.95);
            }
        }
    }
}
