<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Paczki</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
        
          <table class="table table-striped table-hover" style="margin-top: 20px;">
            <tr class="success" style="color: black;">
              <th>ID</th>
              <th>Waga</th>
              <th>Koszt</th>
              <th>Utworzono</th>
              <th>Aktualizowano</th>
              <th style="text-align: center;">Akcje</th>
            </tr>
            <% @packages.each do |package|%>
              <tr>
                <th><%= package.id %></th>
                <th><%= package.weight %></th>
                <th><%= package.cost %></th>
                <th><%= package.created_at.strftime("%m/%d/%y %H:%M") %></th>
                <th><%= package.updated_at.strftime("%m/%d/%y %H:%M") %></th>
                <th style="text-align: right;">
                  <%= link_to("Pokaż", {:action => 'show', :id => package.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                  <%= link_to("Edycja", {:action => 'edit', :id => package.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                  
                    <%= link_to("Usuń", {:action => 'destroy', :id => package.id }, :class=>"btn btn-raised no-margin btn-xs btn-default")%>

                </th>
              </tr>
           
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
