<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Firma Transportowa</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    		<!-- Font awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Roboto:400,700,300|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
        <!-- Own style -->
	</head>
	<body class="<%= controller.controller_name%>">
	
    	<header id="index-header">
            <div class="container-fluid">
                <div class="row">
                    <a href="/"><%= image_tag("logo.png", alt: "Logo Kurier") %></a>
                    <ul class="pull-right">
                                            <% if user_signed_in? %>
                                                <li class="pull-left" ><a style="color: red;">Witaj <%= current_user.name%></a></li>
                          <li class="pull-left"><a href="/user">Panel Administratora</a></li>
                                            <% elsif client_signed_in? %>
                                                <li class="pull-left" ><a style="color: red;">Witaj <%= current_client.name%></a></li>
                                                
                                            <% else %>
                                                <li class="pull-left"></li>
                                            <% end %>
                      <li class="pull-left">
                        <% if client_signed_in? %>
                          <%= link_to "Log Out", destroy_client_session_path, :method => :delete %>
                        <% elsif user_signed_in? %>
                                                    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                                                <% else %>
                          <%= link_to('Log In', new_client_session_path)  %>
                        <% end %>
                      </li>
                      <li class="pull-left"><i id="open-sidebar" class="fa fa-bars" aria-hidden="true"></i></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>

        <div id="background-black" class="background-black-disactive"></div>
        <aside id="sidebar" class="sidebar-close">
            <div class="sidebar-header">
                <h5 class="text-center">MENU</h5>
                <i id="close-sidebar" class="fa fa-times pull-right" aria-hidden="true"></i>
            </div>
            <% if user_signed_in?%>
		    			<% if current_user.is_admin %>
		    				<%= render(:partial => "/layouts/sidebarAdmin")%>
		    			<% elsif current_user.is_dispather %>
		    				<%= render(:partial => "/layouts/sidebarDispatcher")%>
		    			<% elsif current_user.is_courier %>
		    				<%= render(:partial => "/layouts/sidebarCourier")%>
		    			<% elsif current_user.is_warehouse %>
		    				<%= render(:partial => "/layouts/sidebarWarehouse")%>
		    			<% end %>
		    		<% elsif client_signed_in? %>
		    			<%= render(:partial => "/layouts/sidebarClient")%>
		    		<% else %>
							<%= render(:partial => "/layouts/sidebarNotLogged")%>
						<% end %>
        </aside>

		<!-- <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
        <!-- Font awsome -->
        <script src="https://use.fontawesome.com/41b9e4af22.js"></script>
        <!-- Own style -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
