<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Klienci</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
        <% if user_signed_in? %>
          <%= link_to("Nowy magazyn", {:controller => 'warehouses', :action => 'new'}, :class=>"btn btn-raised btn-success")%>
          <p>
            Ilość: <%= @warehouses.size %>
          </p>
          <table class="table table-striped table-hover" style="margin-top: 20px; ">
            <tr class="success" style="color: black;">
              <th>ID</th>
              <th>Nazwa</th>
              <th>Adres</th>
              <th>Pojemność</th>
              <th>Utworzono</th>
              <th>Aktualizowano</th>
              <th style="text-align: center;">Akcje</th>
            </tr>
            <% @warehouses.each do |warehouse|%>
              <tr>
                <th><%= warehouse.id %></th>
                <th><%= warehouse.name %></th>
                <% if warehouse.local_number.present? %>
                  <th><%= warehouse.city %>, <%= warehouse.street %><br>
                     <%= warehouse.house_number%>/<%=warehouse.local_number%> <%= warehouse.postcode %></th>
                <% else %>
                  <th><%= warehouse.city %>, <%= warehouse.street %><br>
                   <%= warehouse.house_number%> <%= warehouse.postcode %></th>
                <% end %>
                <th><%= warehouse.capacity %></th>
                <th><%= warehouse.created_at.strftime("%m/%d/%y %H:%M") %></th>
                <th><%= warehouse.updated_at.strftime("%m/%d/%y %H:%M") %></th>
                <th style="text-align: right;">
                  <%= link_to("Pokaż", {:action => 'show', :id => warehouse.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                  <%= link_to("Edycja", {:action => 'edit', :id => warehouse.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                  <%= link_to("Usuń", {:action => 'destroy', :id => warehouse.id }, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                </th>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
