 <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag("home/slider-parallax1.jpg", alt: "Slide 1") %>
              <div class="slider-caption">
                  <div class="post-category">
                    <a href="">829 paczek<br>jest w drodze.</a>
                  </div>
                  <div class="slide-blog-title">
                    <a href="">Nasze statystyki <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                  </div>
                </div>
            </div>
            <div class="item">
              <%= image_tag("home/slider-parallax2.jpg", alt: "Slide 2") %>
              <div class="slider-caption">
                  <div class="post-category">
                    <a href="">127 Państw <br>Na całym świecie.</a>
                  </div>
                  <div class="slide-blog-title">
                    <a href="">Zaufali nam <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                  </div>
                </div>
            </div>
            <div class="item">
             <%= image_tag("home/slider-parallax3.jpg", alt: "Slide 3") %>
              <div class="slider-caption">
                  <div class="post-category">
                    <a href="">Kontakt.</a>
                  </div>
                  <div class="slide-blog-title">
                    <a href="">Infolinia <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                  </div>
                </div>
            </div>
          </div>

            <!-- Controls -->
            <div class="slider-controls">
              <a class="slider-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="slider-next" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
        </div>

        <div class="find-delivery">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 number-delivery-title">
                        <h4>Wprowadź numer paczki</h4>
                        <p>Sprawdź jej dokładną lokalizację</p>
                    </div>
                    <div class="col-xs-8 no-padding">
                        <div class="col-xs-8 no-padding write-number-delivery">
                            <input type="text" placeholder="Numer paczki">
                            <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-xs-4 more-delivery">
                            <p>Jeżeli chcesz sprawdzić więcej niż jedną paczkę wybierz poniższą opcję.</p>
                            <a href="#">Więcej paczek <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-slider">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <ul>
                            	<a href="/orders"><li>O nas</li></a>
                                <a href="/clients"><li>Klienci indywidualni</li></a>
                                <a href="/clients"><li>Klienci biznesowi</li></a>

                            </ul>
                        </div>
                    </div>
                </div>
             </div>
            <div class="col-xs-12 no-padding about-images">
                <div class="col-xs-4 no-padding">
	                <%= image_tag("home/about-1.jpg", alt: "About1") %>
                </div>
                <div class="col-xs-4 no-padding">
                    <%= image_tag("home/about-2.jpg", alt: "About2") %>
                </div>
                <div class="col-xs-4 no-padding">
                     <%= image_tag("home/about-3.jpg", alt: "About3") %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="info-delivery">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <h6><span>Ultra.</span> Nowoczesta dostawa.</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum amet, esse eaque maiores sequi recusandae numquam quos quibusdam labore sed perferendis incidunt ea voluptatum corporis natus! Rerum, saepe porro voluptates quo nemo. Exercitationem, fugit. Praesentium deserunt numquam ea, ipsa maxime!</p>
                        <a href="#">Czytaj więcej</a>
                    </div>
                    <div class="col-xs-4">
	                    <%= image_tag("home/locations-image.png", alt: "About1") %>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <h6>Oferta</h6>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="#">Koń PL Economical</a></li>
                                <li><a href="">Koń PL Standard</a></li>
                                <li><a href="">Koń express</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="#">Koń PL Economical</a></li>
                                <li><a href="">Koń PL Standard</a></li>
                                <li><a href="">Koń express</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h6>Kariera u kuriera</h6>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="#">Partnerzy</a></li>
                                <li><a href="">O firmie</a></li>
                                <li><a href="">Nasze rozwiązania</a></li>
                                <li><a href="">Innowacyjność</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="#">Sektory dostaw</a></li>
                                <li><a href="">Logistyka</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h6>Social media</h6>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="">Twitter</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 no-padding">
                            <ul>
                                <li><a href="">LinkedIn</a></li>
                                <li><a href="">YouTube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</footer>
