

<table style="padding-top: 20px>
  <tr>
    <th> <%= field.label(:name, "Nazwa:")%> </th>
    <td> <%= field.text_field(:name)%></td>
  </tr>
  <tr>
    <th> <%= field.label(:precinct, "Obręb:")%> </th>
    <td> <%= field.text_field(:precinct)%></td>
  </tr>
</table>
