<div class="wrapper-login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>Kurierzy</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 bg-all">
            <%= link_to("Nowy kurier", {:controller => 'couriers', :action => 'new'}, :class=>"btn btn-raised btn-success")%>
            <p>
              Ilość: <%= @couriers.size %>
            </p>
            <table class="table table-striped table-hover" style="margin-top: 20px; ">
              <tr class="success" style="color: black;">
                <th>ID</th>
                <th>Nazwa</th>
                <th>Obwód</th>
                <th>Utworzono</th>
                <th>Aktualizowano</th>
                <% if current_user.is_admin %>
                  <th style="text-align: center;">Akcje</th>
                <% end %>
              </tr>
              <% @couriers.each do |courier|%>
                <tr>
                  <th><%= courier.id %></th>
                  <th><%= courier.name %></th>
                  <th><%= courier.precinct %></th>
                  <th><%= courier.created_at.strftime("%m/%d/%y %H:%M") %></th>
                  <th><%= courier.updated_at.strftime("%m/%d/%y %H:%M") %></th>
                  <% if current_user.is_admin %>
                    <th style="text-align: right;">
                      <%= link_to("Pokaż", {:action => 'show', :id => courier.id},:class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Edycja", {:action => 'edit', :id => courier.id}, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                      <%= link_to("Usuń", {:action => 'destroy', :id => courier.id }, :class=>"btn btn-raised no-margin btn-xs btn-default")%>
                    </th>
                  <% end %>
                </tr>
              <% end %>
            </table>
      </div>
    </div>
  </div>
</div>
